/.platform
/ebextensions
/node_modules
/public/hot
/public/storage
/public/uploads/logos/
/public/uploads/perfil/
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.prod
public/uploads
horneroprop-omega.pem
temp.zip
